/* for the table in archives.html */
.archive_table_by_year {
  border-style: none;
  table-layout: fixed;
}
.archive_table_by_year_date_col {
  text-align: left;
  vertical-align: middle;
  min-width: 14ch;
  white-space: nowrap;
}
.archive_table_by_year_url_col {
  min-width: 80%;
  max-width: 80%;
}

/* for the drop down menu in top nav bar */
#navbarDropDownMenu1 {
        padding-top: 18px;
        /*padding-bottom: 10px;*/
        border: none;
        margin-left: 14px;
        margin-right: 8px;
}

/* For the label(bs3) or badge(bs4) in the article info */
.label { font-size: 100% !important; }
.badge { font-size: 100% !important; }

/* After changed to BS4 */
/* navbar */
p.card-header.collapsed {
    border: none
}

/* side bar cards */
.card, .card-body {
    background-color: #262626 !important;
}

/* side bar recent posts */
.accordion > .card > .card-header {
    background-color: #262626;
}

/* side bar archive section */
#collapse_sb_Archive {
    background-color: #262626;
}
